<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ckt.layoutmodule" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.ckt.layoutmodule.LinearLayoutActivity"/>
        <activity android:name="com.example.ckt.layoutmodule.FrameLayoutActivity"/>
        <activity android:name="com.example.ckt.layoutmodule.AbsoluteActivity"/>
        <activity android:name="com.example.ckt.layoutmodule.RelativeLayoutActivity"/>
        <activity android:name="com.example.ckt.layoutmodule.TableLayoutActivity"/>
        <activity android:name="com.example.ckt.dynamic.MainActivity"/>
        <activity android:name="com.example.ckt.scrollview.MainActivity"/>
        <activity android:name="com.example.ckt.fragment.MainActivity"/>

    </application>

</manifest>
